@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
*{
  margin:0;
  padding: 0px;
  box-sizing: border-box;

}
 /*font-family: "Poppins", sans-serif; */
 /* font-family: "Play", sans-serif; */

 /* Navbar style */
 .navbar{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height:27px;
  padding: 3px 10px 10px 0;
  text-transform: uppercase;
  box-shadow: 0 6px 5px -5px gray;
  -webkit-box-shadow: 0 6px 5px -5px gray;
  border-bottom: 0.3px solid gray !important;
 }

 .navlink{
  font-weight: 400 !important;
 }

 .active{
  border-bottom: 1px solid #101010; 
 }

 .navbar-brand img{
  width:130px;
   height:50px;

 }

 @media screen and (max-width: 768px) {
   .navbar-brand{
    width: 80px;
    height:30px;
    padding-top:2px;
   }
 }


 /*Footer Style */
 .footer{
  color: white;
  background-color: #151416;
  padding: 40px 10px 10px 40px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 300px;
 }

 .footer a{
  color:aliceblue ;
  padding:10px;
  text-decoration:none;

 }
 .footer a:hover{
  color: #ffffff;
  border: 0px 0px 0px 1px solid #ffffff;
 }


 .footer .footer-left img{
   height: 80px;
   width: 200px;
 }
  
 /* Page not found styles */
 .pnf{
  text-align:center;
  display:flex;
  flex-direction: column;
  min-height: 70vh;
  align-items:center;
  justify-content:center;
  font-family: "Poppins", sans-serif;
 }

 .pnf-title{
  font-size:100px;
  font-weight: 700;
 }
 .pnf-heading{
  font-size:30px;
  font-weight: 500;
  padding-bottom:20px;
 }
 .pnf-button{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #101010;
  color: aliceblue;
  text-decoration: none;
 }
 
 /*======================Contact us Page Styles====================*/
 .contactus{
  margin-top:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  font-family: "Poppins", sans-serif;
 }

 /*================About Us Page Styles =================*/
  .aboutus{
  margin-top:50px;
  margin-bottom:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  font-family: "Poppins", sans-serif;
 }

 /*=====================Policy Page Styles ==================*/
  .policy{
  margin:50px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-align: justify;      
  }

  /*=====================Register Page Styles ==================*/
  .register{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 70vh;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
  }