.form-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    padding: 20px;
}

.form-container form{
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 320px;
    align-items: center;
}

.form-container form h1{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #333;
    font-family: Playfair Display, serif;
    text-align: center;
}

.form-container form input{
    text-decoration: none;
    border: none;
    

}
.form-container form button{
    width: 250px;
    border-radius: 0;
    border: 1px solid #010101;
    background-color: #010101;
    color: #f0f0f0;
    align-self:center;
    text-align: center;
}

.form-container form button:hover{
    border: 1px solid #010101;
    background: #000;
    background-color: -webkit-linear-gradient(
        to right,
        #434344, 
        #000
    );
    background: linear-gradient(
        to right,
        #434344,
        #000
    );

    
}